@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.title {
    font-size: x-large;
    font-weight: bold;
    margin: 15px;
}

.container {
    margin: 25px;
    padding: 25px;
}
.inner-container {
    margin: 25px;
}

.bordered {
    border-radius: 25px;
}

.subtitle {
    color: #062538;
    font-size: large;
}

.description {
    color: #3CB74F;
}


.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.between {
    justify-content: space-between;
}

.px-25 {
    padding: 8px 50px;
}

.interactive {
    transition: all ease-in-out 200ms;
    cursor: pointer;
}
.interactive:hover {
    scale: 1.02;
}
.interactive:active {
    scale: 0.98;
}

.divCamAbs {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.camOverlay {
    position: fixed;
    top: 0  ;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6); /* overlay escuro */
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
}
.camContainer {
  background: #000;
  padding: 20px;
}

.radius {
    border-radius: 25px;
}

.cam-modal .ion-page {
    justify-content: flex-start
}
.cam-modal {
    --height: 100%;
    --border-radius: 0;
    --width: 100%;
    --background: transparent;
}


.p-20 {
    margin-right: 200px;
}

.camLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* empurra o botão pra baixo */
  align-items: center;
  padding: 20px;
  width: 100%;
}

.camWrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 70dvh;
  border-radius: 20px;
  overflow: hidden;
  overflow-y: hidden;
  background: black;
}

.toolbar-modal {
    --background: transparent;
    --background-color: transparent;
    --height: 50px;
}


ion-content {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-checkbox {
    --size: 12px
}

.cam-modal ion-content {
  --background: transparent;
}

.cam-modal ion-toolbar {
    --background: transparent;
    padding: 15px 20px 0px 0px;
}


.footer {
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
}

.footer ion-title {
    position: relative;
}

@media (max-width: 1210px) {
    .footer {
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        padding: 50px 0px;
    }

    .footer ion-title {
        position: relative;
        font-size: 10px;
        word-break: break-word;   /* Quebra a palavra se precisar */
        overflow-wrap: break-word; /* Compatibilidade extra */
        white-space: normal;      /* Permite múltiplas linhas */
        padding: 0px;
    } 

    .label-product {
        font-size: 100px;
        min-width: 130px;
    }

    .quant-container {
        gap: 25px;
    }

    .quant-container ion-icon {
        width: 75px;
        height: 100%;
        border-radius: 25px;
        background-color: #062538;
        color: white;
    }

    .qnt {
        font-size: 35px;
    }

    .quant-container label {
        transition: all ease-in-out;
    }

    ion-title, ion-checkbox, ion-col, ion-item, ion-list-header {
        font-size: 10px;
        word-break: break-word;   /* Quebra a palavra se precisar */
        overflow-wrap: break-word; /* Compatibilidade extra */
        white-space: normal;      /* Permite múltiplas linhas */
    }
    ion-item ion-icon {
        width: 24px;
        height: 24px;
        align-items: center;
    }
    .container {
    margin: 0px;
    padding: 0px;
    }
}